# Daily Stopwatch Data Science: Play around with SEC Data

Note: this is a part of understandin SEC data. See https://www.sec.gov/dera/data/financial-statement-data-sets.html

## Stage 1: Ask a question

My objective is to extract financial statements from the company that I am interested. Say Southwest.

There is no performance measure for the visualization yet.

## Stage 2: Set the environment up and get data

First, set up a directory for data and link it to this workplace. Download data into your choice of directory.

In [176]:
#Set up the environment
import pandas as pd                        #Pandas
import numpy as np                         #Numpy

### With individual financial statements

Let's focus on .xlsx file downloadable from SEC. 

The portal is something like this: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000092380&type=10-Q%25&dateb=&owner=include&start=0&count=40

The end format would be like this: https://www.sec.gov/Archives/edgar/data/92380/000009238017000078/Financial_Report.xlsx

In [202]:
# Set up data directory
DataDir = "C:/Users/Admin/Downloads/southwest/"

# Set up output directory
#OutputDir = "C:/Users/Admin/Documents/GitHub/KhanAcademyThailand/"

#Read data
#df = pd.pandas.read_excel(DataDir+filename,sheetname='AllAvailableThaiVideos')

Create a master data frame.

In [242]:
BalanceSheet = pd.DataFrame()
IncomeStatement = pd.DataFrame()
CashFlowStatement = pd.DataFrame()

In [243]:
filename = "Financial_Report_2010.xlsx"
xl = pd.ExcelFile(DataDir+filename)
#xl.sheet_names

In [244]:
d = xl.parse('CONSOLIDATED_BALANCE_SHEET')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
BalanceSheet = d
d = xl.parse('CONSOLIDATED_STATEMENT_OF_INCO')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
IncomeStatement = d
d = xl.parse('CONSOLIDATED_STATEMENT_OF_CASH')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d= d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
CashFlowStatement = d

In [245]:
d

,index,metric,Unnamed: 2,12 Months Ended
0,0,In Millions,"Dec. 31, 2009","Dec. 31, 2010"
1,1,CASH FLOWS FROM OPERATING ACTIVITIES:,NaN,NaN
2,2,Net Income (Loss),$ 99,$ 459
3,3,Adjustments to reconcile net income (loss) to ...,NaN,NaN
4,4,Depreciation and amortization,616,628
5,5,Unrealized (gain) loss on fuel derivative inst...,14,139
6,6,Deferred income taxes,72,133
7,7,Amortization of deferred gains on sale and lea...,-12,-14
8,8,Changes in certain assets and liabilities:,NaN,NaN
9,9,Accounts and other receivables,40,-26
10,10,Other current assets,-27,-8
11,11,Accounts payable and accrued liabilities,59,193
12,12,Air traffic liability,81,153
13,13,Cash collateral received from (provided to) fu...,-90,265
14,14,"Other, net",133,-361
15,15,Net cash provided by (used in) operating activ...,985,1561
16,16,CASH FLOWS FROM INVESTING ACTIVITIES:,NaN,NaN
17,17,"Purchases of property and equipment, net",-585,-493
18,18,Purchases of short-term investments,-6106,-5624
19,19,Proceeds from sales of short-term investments,5120,4852
20,20,"Other, net",2,0
21,21,Net cash used in investing activities,-1569,-1265
22,22,CASH FLOWS FROM FINANCING ACTIVITIES:,NaN,NaN
23,23,Issuance of long-term debt,455,0
24,24,Proceeds from credit line borrowing,83,0
25,25,Proceeds from revolving credit facility,0,0
26,26,Proceeds from sale and leaseback transactions,381,0
27,27,Proceeds from Employee stock plans,20,55
28,28,Payments of long-term debt and capital lease o...,-86,-155
29,29,Payment of revolving credit facility,-400,0
30,30,Payment of credit line borrowing,-97,-44
31,31,Payments of cash dividends,-13,-13
32,32,Repurchase of common stock,0,0
33,33,"Other, net",-13,8
34,34,Net cash provided by (used in) financing activ...,330,-149
35,35,NET CHANGE IN CASH AND CASH EQUIVALENTS,-254,147
36,36,CASH AND CASH EQUIVALENTS AT BEGINNING OF PERIOD,1368,1114
37,37,CASH AND CASH EQUIVALENTS AT END OF PERIOD,1114,1261
38,38,CASH PAYMENTS FOR:,NaN,NaN
39,39,"Interest, net of amount capitalized",152,135
40,40,Income taxes,$ 5,$ 274

In [246]:
filename = "Financial_Report_2012.xlsx"
xl = pd.ExcelFile(DataDir+filename)
#xl.sheet_names

In [247]:
d = xl.parse('Consolidated_Balance_Sheet')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
BalanceSheet = pd.merge(BalanceSheet, d, how='outer', on=["metric"])

d = xl.parse('Consolidated_Statement_of_Inco') 
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
IncomeStatement = pd.merge(IncomeStatement, d, how='outer', on=["metric"])

d = xl.parse('Consolidated_Statement_of_Cash')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
CashFlowStatement = pd.merge(CashFlowStatement, d, how='outer', on=["metric"])

In [248]:
IncomeStatement

,index_x,metric,Unnamed: 2_x,12 Months Ended_x,index_y,Unnamed: 2_y,12 Months Ended_y
0,0,"In Millions, except Per Share data","Dec. 31, 2009","Dec. 31, 2010",NaN,NaN,NaN
1,1,OPERATING REVENUES:,NaN,NaN,NaN,NaN,NaN
2,2,Passenger,"$ 9,892","$ 11,489",2,14754,16093
3,3,Freight,118,125,3,139,160
4,4,Other,340,490,4,765,835
5,5,Total operating revenues,10350,12104,5,15658,17088
6,6,OPERATING EXPENSES:,NaN,NaN,NaN,NaN,NaN
7,7,"Salaries, wages, and benefits",3468,3704,7,4371,4749
8,8,Fuel and oil,3044,3620,8,5644,6120
9,9,Maintenance materials and repairs,719,751,9,955,1132
10,10,Aircraft Rental,186,180,NaN,NaN,NaN
11,11,Landing fees and other rentals,718,807,11,959,1043
12,12,Depreciation and amortization,616,628,12,715,844
13,13,Other operating expenses,1337,1426,14,1879,2039
14,14,Total operating expenses,10088,11116,15,14965,16465
15,15,OPERATING INCOME,262,988,NaN,NaN,NaN
16,16,OTHER EXPENSES (INCOME):,NaN,NaN,NaN,NaN,NaN
17,17,Interest Expense,186,167,NaN,NaN,NaN
18,18,Capitalized interest,-21,-18,19,-12,-21
19,19,Interest income,-13,-12,20,-10,-7
20,20,"Other (gains) losses, net",-54,106,21,198,-181
21,21,Total other expenses,98,243,NaN,NaN,NaN
22,22,INCOME BEFORE INCOME TAXES,164,745,NaN,NaN,NaN
23,23,PROVISION FOR INCOME TAXES,65,286,NaN,NaN,NaN
24,24,NET INCOME,$ 99,$ 459,NaN,NaN,NaN
25,25,"NET INCOME PER SHARE, BASIC (in dollars per sh...",$ 0.13,$ 0.62,NaN,NaN,NaN
26,26,"NET INCOME PER SHARE, DILUTED (in dollars per ...",$ 0.13,$ 0.61,NaN,NaN,NaN
27,27,Cash dividends declared per common share (in d...,$ 0.018,$ 0.018,30,0.018,0.0345
28,NaN,"In Millions, except Per Share data, unless oth...",NaN,NaN,0,"Dec. 31, 2011","Dec. 31, 2012"
29,NaN,OPERATING REVENUES [Abstract],NaN,NaN,1,NaN,NaN
30,NaN,OPERATING EXPENSES [Abstract],NaN,NaN,6,NaN,NaN
31,NaN,Aircraft rentals,NaN,NaN,10,308,355
32,NaN,Acquisition and integration,NaN,NaN,13,134,183
33,NaN,OPERATING INCOME (LOSS),NaN,NaN,16,693,623
34,NaN,OTHER EXPENSES (INCOME) [Abstract],NaN,NaN,17,NaN,NaN
35,NaN,Interest expense,NaN,NaN,18,194,147
36,NaN,Total other expenses (income),NaN,NaN,22,370,-62
37,NaN,INCOME (LOSS) BEFORE INCOME TAXES,NaN,NaN,23,323,685
38,NaN,PROVISION (BENEFIT) FOR INCOME TAXES,NaN,NaN,24,145,264
39,NaN,Net income (loss),NaN,NaN,25,178,421
40,NaN,"Net income per share, basic",NaN,NaN,26,0.23,0.56
41,NaN,"Net income per share, diluted",NaN,NaN,27,0.23,0.56
42,NaN,"Weighted average shares outstanding, basic",NaN,NaN,28,774,750
43,NaN,"Weighted Average Number of Shares Outstanding,...",NaN,NaN,29,775,757

In [249]:
filename = "Financial_Report_2014.xlsx"
xl = pd.ExcelFile(DataDir+filename)
#xl.sheet_names

In [250]:
d = xl.parse('Consolidated_Balance_Sheet')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
BalanceSheet = pd.merge(BalanceSheet, d, how='outer', on=["metric"])

d = xl.parse('Consolidated_Statement_of_Inco')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
IncomeStatement = pd.merge(IncomeStatement, d, how='outer', on=["metric"])

d = xl.parse('Consolidated_Statement_of_Cash')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
CashFlowStatement = pd.merge(CashFlowStatement, d, how='outer', on=["metric"])

In [251]:
#BalanceSheet
#IncomeStatement
#CashFlowStatement

In [252]:
filename = "Financial_Report_2016.xlsx"
xl = pd.ExcelFile(DataDir+filename)
#xl.sheet_names

In [253]:
d = xl.parse('Consolidated Balance Sheet')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
BalanceSheet = pd.merge(BalanceSheet, d, how='outer', on=["metric"])

d = xl.parse('Consolidated Statement of Incom')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
IncomeStatement = pd.merge(IncomeStatement, d, how='outer', on=["metric"])

d = xl.parse('Consolidated Statement of Cash ')
d = d.rename(index=str, columns={d.columns[0]: "metric"})
d = d.ix[:,[d.columns[0],d.columns[2],d.columns[1]]]
d = d.reset_index()
CashFlowStatement = pd.merge(CashFlowStatement, d, how='outer', on=["metric"])

In [254]:
BalanceSheet
#IncomeStatement
#CashFlowStatement

,index_x,metric,"Dec. 31, 2009","Dec. 31, 2010",index_y,"Dec. 31, 2011","Dec. 31, 2012",index_x,"Dec. 31, 2013","Dec. 31, 2014",index_y,"Dec. 31, 2015","Dec. 31, 2016"
0,0,In Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Current assets:,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,0,NaN,NaN
2,2,Cash and cash equivalents,"$ 1,114","$ 1,261",2,829.0,1113.0,2,1355.0,1282.0,1,1583.0,1680.0
3,3,Short-term investments,1479,2277,3,2315.0,1857.0,3,1797.0,1706.0,2,1468.0,1625.0
4,4,Accounts and other receivables,169,195,4,299.0,332.0,4,419.0,365.0,3,474.0,546.0
5,5,"Inventories of parts and supplies, at cost",221,243,5,401.0,469.0,5,467.0,342.0,4,311.0,337.0
6,6,Deferred income taxes,291,214,6,263.0,246.0,6,168.0,477.0,25,2490.0,3374.0
7,6,Deferred income taxes,291,214,6,263.0,246.0,27,2934.0,3259.0,25,2490.0,3374.0
8,6,Deferred income taxes,291,214,26,2566.0,2884.0,6,168.0,477.0,25,2490.0,3374.0
9,6,Deferred income taxes,291,214,26,2566.0,2884.0,27,2934.0,3259.0,25,2490.0,3374.0
10,25,Deferred income taxes,2200,2493,6,263.0,246.0,6,168.0,477.0,25,2490.0,3374.0
11,25,Deferred income taxes,2200,2493,6,263.0,246.0,27,2934.0,3259.0,25,2490.0,3374.0
12,25,Deferred income taxes,2200,2493,26,2566.0,2884.0,6,168.0,477.0,25,2490.0,3374.0
13,25,Deferred income taxes,2200,2493,26,2566.0,2884.0,27,2934.0,3259.0,25,2490.0,3374.0
14,7,Prepaid expenses and other current assets,84,89,7,238.0,210.0,7,250.0,232.0,5,188.0,310.0
15,8,Total current assets,3358,4279,8,4345.0,4227.0,8,4456.0,4404.0,6,4024.0,4498.0
16,9,"Property and equipment, at cost:",NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,7,NaN,NaN
17,10,Flight equipment,13719,13991,10,15542.0,16367.0,10,16937.0,18473.0,8,19462.0,20275.0
18,11,Ground property and equipment,1922,2122,11,2423.0,2714.0,11,2666.0,2853.0,9,3219.0,3779.0
19,12,Deposits on flight equipment purchase contracts,247,230,12,456.0,416.0,12,764.0,566.0,10,1089.0,1190.0
20,13,"Property and equipment, at cost",15888,16343,13,18421.0,19497.0,14,20820.0,22513.0,12,24685.0,26464.0
21,14,Less allowance for depreciation and amortization,-5254,-5765,14,6294.0,6731.0,15,7431.0,8221.0,13,9084.0,9420.0
22,15,"Property and equipment, net",10634,10578,15,12127.0,12766.0,16,13389.0,14292.0,14,15601.0,17044.0
23,16,Other assets,277,606,17,626.0,633.0,18,530.0,534.0,16,717.0,774.0
24,17,Total assets,14269,15463,18,18068.0,18596.0,19,19345.0,20200.0,17,21312.0,23286.0
25,18,Current liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,19,Accounts payable,732,739,20,1057.0,1107.0,21,1247.0,1203.0,19,1188.0,1178.0
27,20,Accrued liabilities,729,863,21,996.0,1102.0,22,1229.0,1565.0,20,2591.0,1985.0
28,21,Air traffic liability,1044,1198,22,1836.0,2170.0,23,2571.0,2897.0,21,2990.0,3115.0
29,22,Current maturities of long-term debt,190,505,23,644.0,271.0,24,629.0,258.0,22,637.0,566.0
30,23,Total current liabilities,2695,3305,24,4533.0,4650.0,25,5676.0,5923.0,23,7406.0,6844.0
31,24,Long-term debt less current maturities,3325,2875,25,3107.0,2883.0,26,2191.0,2434.0,24,2541.0,2821.0
32,26,Deferred gains from sale and leaseback of airc...,102,88,27,75.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN
33,27,Other non-current liabilities,493,465,28,910.0,1124.0,NaN,NaN,NaN,NaN,NaN,NaN
34,28,Stockholders' equity:,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN,28,NaN,NaN
35,29,"Common stock, $1.00 par value: 2,000,000,000 ...",808,808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,30,Capital in excess of par value,1216,1183,31,1222.0,1210.0,32,1231.0,1315.0,30,1374.0,1410.0
37,31,Retained earnings,4971,5399,32,5395.0,5768.0,33,6431.0,7416.0,31,9409.0,11418.0
38,32,Accumulated other comprehensive loss,-578,-262,NaN,NaN,NaN,34,-3.0,-738.0,NaN,NaN,NaN
39,33,"Treasury stock, at cost: 60,177,362 and 64,820...",-963,-891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,34,Total stockholders' equity,5454,6237,35,6877.0,6992.0,36,7336.0,6775.0,34,7358.0,8441.0
41,35,Total liabilities and stockholders' equity,"$ 14,269","$ 15,463",36,18068.0,18596.0,37,19345.0,20200.0,35,21312.0,23286.0
42,NaN,"In Millions, unless otherwise specified",NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
43,NaN,Current assets [Abstract],NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,"Property and equipment, at cost [Abstract]",NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Goodwill,NaN,NaN,16,970.0,970.0,17,970.0,970.0,15,970.0,970.0
46,NaN,Current liabilities [Abstract],NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Stockholders' equity [Abstract],NaN,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,Common stock,NaN,NaN,30,808.0,808.0,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,Accumulated other comprehensive income (loss),NaN,NaN,33,-224.0,-119.0,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,"Treasury stock, at cost",NaN,NaN,34,-324.0,-675.0,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Assets constructed for others,NaN,NaN,NaN,NaN,NaN,13,453.0,621.0,11,915.0,1220.0
52,NaN,Current liabilities:,NaN,NaN,NaN,NaN,NaN,20,NaN,NaN,18,NaN,NaN
53,NaN,Construction obligation,NaN,NaN,NaN,NaN,NaN,28,437.0,554.0,26,757.0,1078.0
54,NaN,Other noncurrent liabilities,NaN,NaN,NaN,NaN,NaN,29,771.0,1255.0,27,760.0,728.0
55,NaN,"Common stock, $1.00 par value: 2,000,000,000 s...",NaN,NaN,NaN,NaN,NaN,31,808.0,808.0,NaN,NaN,NaN
56,NaN,"Treasury stock, at cost: 132,017,550 and 107,1...",NaN,NaN,NaN,NaN,NaN,35,-1131.0,-2026.0,NaN,NaN,NaN
57,NaN,"Common stock, $1.00 par value: 2,000,000,000 s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,808.0,808.0
58,NaN,"Accumulated Other Comprehensive Income (Loss),...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,-1051.0,-323.0
59,NaN,"Treasury stock, at cost: 192,450,855 and 160,0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,-3182.0,-4872.0

When we look closely to the master sheets. There are discrepency due to metric names. We may need to revisit them later.

First, let's look at balance sheet.

In [228]:
KeyMetrics = ['Cash and cash equivalents','Short-term investments','Inventories of parts and supplies, at cost',
              'Accounts and other receivables','Prepaid expenses and other current assets','Total current assets',
             'Property and equipment, net','Other assets','Total assets',
             , u'Accounts payable', u'Accrued liabilities', u'Current maturities of long-term debt',
              u'Total current liabilities',]

In [229]:
BalanceSheet[BalanceSheet['metric'].map(lambda x: x in KeyMetrics)]

,metric,"Dec. 31, 2009","Dec. 31, 2010","Dec. 31, 2011","Dec. 31, 2012","Dec. 31, 2013","Dec. 31, 2014","Dec. 31, 2015","Dec. 31, 2016"
2,Cash and cash equivalents,"$ 1,114","$ 1,261",829.0,1113.0,1355.0,1282.0,1583.0,1680.0
3,Short-term investments,1479,2277,2315.0,1857.0,1797.0,1706.0,1468.0,1625.0
4,Accounts and other receivables,169,195,299.0,332.0,419.0,365.0,474.0,546.0
5,"Inventories of parts and supplies, at cost",221,243,401.0,469.0,467.0,342.0,311.0,337.0
14,Prepaid expenses and other current assets,84,89,238.0,210.0,250.0,232.0,188.0,310.0
15,Total current assets,3358,4279,4345.0,4227.0,4456.0,4404.0,4024.0,4498.0
22,"Property and equipment, net",10634,10578,12127.0,12766.0,13389.0,14292.0,15601.0,17044.0
23,Other assets,277,606,626.0,633.0,530.0,534.0,717.0,774.0
24,Total assets,14269,15463,18068.0,18596.0,19345.0,20200.0,21312.0,23286.0

In [231]:
list(BalanceSheet['metric'])

[u'In Millions',
 u'Current assets:',
 u'Cash and cash equivalents',
 u'Short-term investments',
 u'Accounts and other receivables',
 u'Inventories of parts and supplies, at cost',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Deferred income taxes',
 u'Prepaid expenses and other current assets',
 u'Total current assets',
 u'Property and equipment, at cost:',
 u'Flight equipment',
 u'Ground property and equipment',
 u'Deposits on flight equipment purchase contracts',
 u'Property and equipment, at cost',
 u'Less allowance for depreciation and amortization',
 u'Property and equipment, net',
 u'Other assets',
 u'Total assets',
 u'Current liabilities',
 u'Accounts payable',
 u'Accrued liabilities',
 u'Air traffic liability',
 u'Current maturities of long-term debt',
 u'Total current liabilities',
 u'Long-term debt less current maturities',
 u'Deferred gains from sale and leaseback of aircraft',
 u'Other non-current liabilities',
 u"Stockholders' equity:",
 u'Common stock, \xa0$1.00 par value: 2,000,000,000 shares authorized; 807,611,634 shares issued in 2010 and 2009',
 u'Capital in excess of par value',
 u'Retained earnings',
 u'Accumulated other comprehensive loss',
 u'Treasury stock, at cost: 60,177,362 and 64,820,703 shares in 2010 and 2009, respectively',
 u"Total stockholders' equity",
 u"Total liabilities and stockholders' equity",
 u'In Millions, unless otherwise specified',
 u'Current assets [Abstract]',
 u'Property and equipment, at cost [Abstract]',
 u'Goodwill',
 u'Current liabilities [Abstract]',
 u"Stockholders' equity [Abstract]",
 u'Common stock',
 u'Accumulated other comprehensive income (loss)',
 u'Treasury stock, at cost',
 u'Assets constructed for others',
 u'Current liabilities:',
 u'Construction obligation',
 u'Other noncurrent liabilities',
 u'Common stock, $1.00 par value: 2,000,000,000 shares authorized; 807,611,634 shares issued in 2014 and 2013',
 u'Treasury stock, at cost: 132,017,550 and 107,136,946 shares in 2014 and 2013 respectively',
 u'Common stock, $1.00 par value: 2,000,000,000 shares authorized; 807,611,634 shares issued in 2016 and 2015',
 u'Accumulated Other Comprehensive Income (Loss), Net of Tax',
 u'Treasury stock, at cost: 192,450,855 and 160,010,017 shares in 2016 and 2015 respectively']

## Stage 3: What's next?

This data set is difficult to work with due to different names of metrics. We may need to clean this by hand after all. Such task can be done in Google Spreadsheets. If we want to look just 5 years, we can go to MarketWatch to see financial statements aligned nicely. It is much harder to work on raw data in SEC.